<!DOCTYPE html>
<html>
  <head>
    <title>PiUniAutenticacao</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-zinc-50 mb-8">
  <% if action_name != "webcam" %>
      <%= render "layouts/notification_bar" %>
      <%= render "layouts/header" %>
      <%= render "layouts/flash" %>
  <% end %>
    <main class="container mx-auto px-2 sm:px-4">
      <%= yield %>
    </main>
  </body>
</html>